<header>
  <nav>
    <h3><%= link_to 'Tasklist','/' %></h3>
    <div>
      <ul>
        <% if logged_in? %>
          <li><%= link_to 'Users', users_path %></li>
          <li><%= link_to 'My profile', user_path(current_user) %></li>
          <li><%= link_to 'Task一覧','/' %></li>
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Signup', signup_path %></li>
          <li><%= link_to 'Login', login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>